<header class="header">
    <a class="header__logo" href="/">Exer_Gym</a>
    <nav class="header__nav">
        <ul>
            <li><a class="home" href="/">Home</a></li>
            <li><a class="about" href="/about">About</a></li>

        </ul>
    </nav>
</header>