<div class="author">
    <h1 class="author__heading">Hi User</h1>
</div>

<section class="articles">
    <h2 class="articles__heading">Exercise- A</h2>
    <ul class="article-ul">
        <li>1- <span> exercise listed here</span></li>
        <li>2- <span> exercise listed here</span></li>
        <li>3- <span> exercise listed here</span></li>
        <li>4- <span> exercise listed here</span></li>
        <li>5- <span> exercise listed here</span></li>
        <li>6- <span> exercise listed here</span></li>
        <li>7- <span> exercise listed here</span></li>
        <li>8- <span> exercise listed here</span></li>
        <li>9- <span> exercise listed here</span></li>
    </ul>
    <a href="#" class="pagination">Feito ✔</a>
</section>